<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
  <title>RoomierCord - About Us</title>
</head>
<body class="others">
  <div class="container-fluid m-0 p-0 full">
    <div id="home-page" class="full-height">
      <!-- Navigation bar -->
      <div class="navbar">
        <img src="img/roomiercordYELLOW.png" alt="" class="logo" />
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">How it Works</a></li>
            <li><a class="current" href="/aboutus">About Us</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </nav>
  
        <a href="/register">
          <button type="button" class="button btn btn-lg sign-up">
            Sign Up
          </button>
      </a>
      </div>
      <!-- Slogan, description and roommates image -->
      <section id="banner-about-us">
        <div class="container">
          <h1 class="promo-title">About Us</h1>
        </div>
      </section>
      <div class="row" id="cardrow-about">
        <div class="card w-50" id="card1">
          <div class="card-header">
            <h1>Inspiration</h1>
          </div>
          <div class="card-body" id="card-about">
            <p>
              The idea for RoomierCord was birthed when Michael and Himanshu
              were approached by Himanshu's older brother with a simple
              complaint - it was such a pain to find roommates in university! He
              proposed a platform that could streamline the process. So, Michael
              and Himanshu set out to build RoomierCord - an intuitive,
              user-friendly and secure website where users can input their
              attributes and find suitable roommates in seconds. We currently
              only support Ontario universities, but plan to branch out soon.
            </p>
          </div>
        </div>
        <div class="card w-25" id="card2">
          <div class="card-header">
            <h1>Contact Us</h1>
          </div>
          <div class="card-body" id="card-about">
            <div class="card-header contact-cards">
              Michael Ngo - <a href="mailto:mngo2@ocdsb.ca">mngo2@ocdsb.ca</a>
            </div>
            <div class="card-header contact-cards">
              Himanshu Singh -
              <a href="mailto:hsingh2@ocdsb.ca">hsingh2@ocdsb.ca</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="cardrow-about">
        <div class="card w-55" id="tos-card">
          <div class="card-header tos">
            <h1>Terms of Service</h1>
          </div>
          <div class="card-body" id="card-about">
            <p>
              Disclaimer: RoomierCord is not responsible for what users decide
              to input and use the website for. RoomierCord is not responsible
              for possible security leaks, but will inform users immediately if
              such occurs.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
