<!-- Login page HTML markup-->

<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
  <title>RoomierCord - Login</title>
</head>

<body class="others">
  <div class="container-fluid m-0 p-0 full">
    <div id="home-page" class="full-height">
      <!-- Navigation bar -->
      <div class="navbar">
        <!-- Logo in top left -->
        <img src="img/roomiercordYELLOW.png" alt="" class="logo" />
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">How it Works</a></li>
            <li><a href="/aboutus">About Us</a></li>
            <li><a class="current" href="/login">Login</a></li>
          </ul>
        </nav>
        <!-- Sign up button in top right -->
        <a href="/register">
          <button type="button" class="button btn btn-lg sign-up">
            Sign Up
          </button>
        </a>
      </div>

      <!-- Box for Login -->
      <div class="loginbox">
        <h1>LOGIN</h1>
        <!-- form element to collect user inputs -->
        <form action="/login" method="POST">
          <!-- text field for email input -->
          <div class="txt_field">
            <input type="text" placeholder="Email" required id="xyz" name="username">
          </div>
          <!-- text field for password input -->
          <div class="txt_field">
            <input type="password" id="password" name="password" placeholder="Password" required>
          </div>
          <!-- Submit button -->
          <input type="submit" value="LOGIN">
          <!-- Dont have an account, create one here (text and link) -->
          <div class="signup_link">
            Don't have an account? <a href="/register">Create one here.</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>