html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.container {
    width: 100%;
    padding: 0;
    margin: 0% 2%;
    align-items: center;
}

.others #home-page {
    background-image: url("../img/gradient10.png");
    background-position: bottom;
    box-sizing: border-box;
    background-attachment: fixed;
}

.full {
    background-image: url("../img/uWaterlooCampus.jpg");
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.full-height {
    min-height: 100vh;
}

.promo-title {
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#universityname {
    font-size: 5em;
    color: #ff9100;
    text-transform: uppercase;
    margin-left: 6%;
}

.showing-results {
    margin-left: 6%;
}

#fit-best {
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#scroll-down {
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top:3%;
    padding-bottom:7%;
}

h3 {
    font-weight: 400;
}

#big-text {
    align-items: baseline;
}

.uni-name {
    text-shadow: 0px 0px 5px #ffffffbe;
    margin-bottom: 2%;
}

/* navbar styling */

.navbar {
    height: 12%;
    display: flex;
    align-items: center;
    padding-left: 1%;
    padding-right: 3%;
}

.logo {
    width: 20%;
    height: 20%;
    margin-top: 0.5%;
}

.btn {
    background-color: #ff9100;
    color: white;
    font-size: 100%;
    font-weight: 400;
}

.sign-up {
    margin-left: 40px;
    margin-top: 0%;
}

.row {
    display: flex;
    height: 50%;
    align-items: top;
}

nav {
    flex: 1;
    text-align: right;
    margin-top: 1%;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 100%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    transition: all ease-in-out 250ms;
}

nav ul li a:after {
    content: "";
    position: absolute;
    display: block;
    height: 0.3em;
    width: 0%;
    background-color: #ff9100;
    bottom: 33%;
    transition: all ease-in-out 250ms;
}

nav ul li a:hover:after {
    width: 2%;
}

nav ul li a:hover {
    color: #ff9100;
    text-decoration: none;
}

.current {
    color: #ff9100;
}

.current:after {
    content: "";
    position: absolute;
    display: block;
    height: 0.3em;
    width: 2%;
    background-color: #ff9100;
    bottom: 33%;
}

/* search */

label {
    color: white;
}

/* table */

#filters-and-table {
    align-items: top;
    margin-top: 2%;
}

table {
    text-align: center;
}

thead {
    background-color: #ff6600;
    color: white;
    font-size: 0.8em;
}

.username, .firstname, .lastname {
    text-align: left;
    font-weight: bold;
}

#sort_table_info {
    color: white;
}

#gridDisplayAllLabel, #gridDisplayAllLabel2 {
    border-start-start-radius: 5px;
    border-bottom-left-radius: 5px;
}

#sort_table_info {
    margin-bottom: 2%;
}

#sort_table_filter {
    color: white;
    float: left;
}

#sort_table_filter input {
    color: white;
}

.table-div {
    margin-right: 1%;
}

.userselect {
    border: none;
    background-color: transparent;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.bio {
    font-size: 0px;
}

/* filters */

#all-filters {
    margin-left: 1%;
}

.filters {
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    padding-right: 0%;
    width: 100%;
}

.filter-numbers {
    border: 0;
    color: white;
    font-weight: bold;
    background-color: transparent;
    width: 50%;
}

.filters h2 {
    margin-bottom: 10%;
}

.filter-btn {
    background-color: #ff6600;
    color: white;
    font-size: 100%;
    font-weight: 400;
}

.btn-group {
    align-items: center;
}

/* filter sliders */

.ui-slider {
    margin-top: 2%;
    height: 5px;
    position: relative;
    border: none;
    background: #ffffff;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #ff6600;
    border-radius: 25px;
    outline: none;
    border: 2px solid #fff;
    position: absolute;
    top: -5px;
}

.ui-slider-horizontal .ui-slider-range {
    background: #ff6600;
}

.ui-slider .ui-slider-handle {
    width: 15px;
    height: 15px;
}

/* matching cards */

.card {
    margin-bottom: 50px;
    border-radius: 10px;
    margin: 1% 1%;
}

.card::before {
    content: "";
    position: absolute;
    top: -4px;
    right: 5px;
    transform: translate(0%, -10%);
    width: 9.5vmin;
    height: 9.5vmin;
    border-radius: 50%;
    background: #fff;
    border-color: black;
    box-shadow: 0px 0px 12px #2c2c2c;
}

#cardrow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#cardrow-about {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-bottom: 5%;
}

.card-header {
    color: white;
    background: #ff6600 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    opacity: 1;
    text-align: left;
}

.card-name {
    font-size: 160%;
    margin-left: 3%;
}

.matchscore {
    font-size: 260%;
    color: #ff6600;
    text-shadow: 0px 0px 2px black;
    position: absolute;
    top: 7px;
    right: 10px;
    transform: translate(0%, -10%);
}

.card-header:first-child {
    color: white;
    background: #ff6600 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    opacity: 1;
}

.contact-cards {
    margin-top: 5%;
}

.card-body {
    font-size: 120%;
    box-shadow: 0px 3px 10px #00000029;
}

#card-about {
    font-size: 120%;
    color: rgba(70, 70, 70, 255);
    box-shadow: 0px 0px 10px #00000029;
    text-align: center;
}

#card1 {
    width: 40%;
    height: 20%;
}

#card2 {
    width: 40%;
    height: auto;
}

#logo-row {
    margin-top: 3%;
    margin-left: 2%;
    padding: 0;
}

.attribute-logos {
    height: 70%;
    width: auto;
    margin-right: 2%;
}

.attribute-text {
    font-size: 2em;
    width: auto;
    margin-left: 4%;
}

.contact {
    font-size: 1.3em;
    float: left;
}

#spacing {
    text-align: center;
    align-items:center;
    padding-top: 5%;
    padding-bottom: 5%;
}