html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.container {
    width: 100%;
    padding: 0;
    margin: 0% 5%;
}

table {
    text-align: center;
}

thead {
    background-color: #ff6600;
    color: white;
}

.username {
    text-align:left;
}

.others #home-page {
    background-image: url("../img/gradient9.png");
    background-position: bottom;
    box-sizing: border-box;
}

.full {
    background-image: url("../img/uWaterlooCampus.jpg");
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.full-height {
    min-height: 100vh;
}

.promo-title {
    color:white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.filters {
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    padding-right: 0%;
    width: 100%;
    margin-top: 15%;
}

.filter-numbers {
    border:0; 
    color:#f6931f; 
    font-weight:bold; 
    background-color: transparent;
    width: 50%;
}

.filters h2 {
    margin-bottom: 10%;
}

/* navbar styling */
.navbar {
    height: 12%;
    display: flex;
    align-items: center;
    padding-left: 1%;
    padding-right: 3%;
}

.logo {
    width: 20%;
    height: 20%;
    margin-top: 0.5%;
}

.btn {
    background-color: #ff9100;
    color: white;
    font-size: 100%;
    font-weight: 400;
}

.sign-up {
    margin-left: 40px;
    margin-top: 0%;
}

.row {
    display: flex;
    height: 50%;
    align-items: top;
}

.col {
    flex-basis: 50%;
}

nav {
    flex: 1;
    text-align: right;
    margin-top: 1%;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 100%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    transition: all ease-in-out 250ms;
}

nav ul li a:after {
    content: "";
    position: absolute;
    display: block;
    height: 0.3em;
    width: 0%;
    background-color: #ff9100;
    bottom: 33%;
    transition: all ease-in-out 250ms;
}

nav ul li a:hover:after {
    width: 2%;
}

nav ul li a:hover {
    color: #ff9100;
    text-decoration: none;
}

.current {
    color: #ff9100;
}

.current:after {
    content: "";
    position: absolute;
    display: block;
    height: 0.3em;
    width: 2%;
    background-color: #ff9100;
    bottom: 33%;
}

/* search */

label {
    color: white;
}

input[type="search"] {
    color: white;
}

/* table */

.datatable {
    width: 100%;
    margin-left: 5%;
}

#sort_table_info {
    color: white;
}